<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wumen</key>
	<dict>
		<key>name</key>
		<string>故宫-午门</string>
		<key>photo</key>
		<string>午门.jpg</string>
		<key>audio</key>
		<string>麦芽糖</string>
		<key>brief</key>
		<string>午门建成于明朝永乐十八年（1420年）。清朝顺治四年（1647年）重修，嘉庆六年（1801年）再修。午门过去是颁发皇帝诏书之处。每年农历腊月初一，在午门举办颁布翌年历书的“颁朔”典礼。遇到重大战争，军队凯旋时，在午门举办向皇帝敬献战俘的“献俘礼”。明朝皇帝处罚大臣的“廷杖”也是在午门前举行。民间传说中有所谓“推出午门斩首”的说法，也是指午门前，但将此处作为杀人刑场是不可能发生的事情，这种民间传说并不符合史实。
</string>
	</dict>
	<key>jiaolou</key>
	<dict>
		<key>name</key>
		<string>故宫-角楼</string>
		<key>photo</key>
		<string>角楼.jpg</string>
		<key>audio</key>
		<string>青花瓷</string>
		<key>brief</key>
		<string>紫禁城城墙四角各有一座造型非常奇特的角楼，有军事瞭望之用设计亦十分精巧，共有3层屋檐9梁18柱28个翼角72脊。角楼坐落于厚城墙之上四周围以汉白玉石栏杆，台基楼梯分上下两层。
相传明成祖朱棣（1404─1424年）曾梦见一座9梁18柱72脊的角楼，并下令于9天之内照样设计，否则工匠便要杀头。工匠均想不到如何设计。就在这时有一老人手提个设计精巧的蝈蝈笼走过，该笼恰巧共9梁18柱72脊，匠人们灵机一触按这个蝈蝈笼设计了角楼，匠师们并认为老人就是鲁班师傅下凡指点。[1]
后来明朝灭亡时李自成焚毁故宫，但是角楼并未被毁。</string>
	</dict>
	<key>tiananmen</key>
	<dict>
		<key>name</key>
		<string>天安门</string>
		<key>photo</key>
		<string>天安门.jpg</string>
		<key>audio</key>
		<string>青花瓷</string>
		<key>brief</key>
		<string>天安门坐落在中国北京市中心，故宫的南端，与天安门广场隔长安街相望，是明清两代北京皇城的正门。设计者为明代的御用建筑匠师蒯祥。天安门始建与明朝永乐十五年（1417年），时称为承天门。清朝顺治八年（1651年）更名为天安门。1925年10月10日，国立故宫博物院成立，天安门始对民众开放。1949年10月1日，在这里举行了中华人民共和国的开国大典，它由此被设计入国徽，并成了中华人民共和国的象征之一。1961年，天安门被中华人民共和国国务院公布为第一批全国重点文物保护单位之一。</string>
	</dict>
	<key>huabiao</key>
	<dict>
		<key>name</key>
		<string>华表</string>
		<key>photo</key>
		<string>华表.jpg</string>
		<key>audio</key>
		<string>青花瓷</string>
		<key>brief</key>
		<string>华表亦称桓表、表木或诽谤之木，是中国一种传统的建筑形式。古代用以表示王者纳谏或指路的木柱。
同时也为中华的图腾柱。
华表一般由底座，蟠龙柱，承露盘和其上的蹲兽组成。华表是一种标志性建筑，已经成为中国的象征之一。华表用于放在宫殿、陵墓外的道路两旁，也称为神道柱，石望柱，表，标，碣。
相传尧时立木牌于交通要道，供人书写谏言，针砭时弊。远古的华表皆为木制，东汉时期开始使用石柱作华表，华表的作用已经消失了，成为竖立在宫殿、桥梁、陵墓等前的大柱。华表通常由汉白玉雕成，华表的底座通常呈方形，是莲花座或须弥座，上面雕刻有龙的图案，蟠龙柱上雕刻一只蟠龙盘于柱上，并饰有流云纹；上端横插一云板，称为诽谤木；石柱顶上有一承露盘，呈圆形，因此对应天圆地方，上面的蹲兽为传说中的神兽朝天吼，或称为望天、犼。
天安门城楼内外的两对华表，已经有500多年的历史。天安门城楼内外各有一对华表，相传外面的称为望君归（不可留恋外面的花花世界），里面的称为望君出（须外出体察民情）。</string>
	</dict>
	<key>idback</key>
	<dict>
		<key>name</key>
		<string>华表</string>
		<key>photo</key>
		<string>华表.jpg</string>
		<key>audio</key>
		<string>青花瓷</string>
		<key>brief</key>
		<string>华表亦称桓表、表木或诽谤之木，是中国一种传统的建筑形式。古代用以表示王者纳谏或指路的木柱。
同时也为中华的图腾柱。
华表一般由底座，蟠龙柱，承露盘和其上的蹲兽组成。华表是一种标志性建筑，已经成为中国的象征之一。华表用于放在宫殿、陵墓外的道路两旁，也称为神道柱，石望柱，表，标，碣。
相传尧时立木牌于交通要道，供人书写谏言，针砭时弊。远古的华表皆为木制，东汉时期开始使用石柱作华表，华表的作用已经消失了，成为竖立在宫殿、桥梁、陵墓等前的大柱。华表通常由汉白玉雕成，华表的底座通常呈方形，是莲花座或须弥座，上面雕刻有龙的图案，蟠龙柱上雕刻一只蟠龙盘于柱上，并饰有流云纹；上端横插一云板，称为诽谤木；石柱顶上有一承露盘，呈圆形，因此对应天圆地方，上面的蹲兽为传说中的神兽朝天吼，或称为望天、犼。
天安门城楼内外的两对华表，已经有500多年的历史。天安门城楼内外各有一对华表，相传外面的称为望君归（不可留恋外面的花花世界），里面的称为望君出（须外出体察民情）。</string>
	</dict>
	<key>maozi</key>
	<dict>
		<key>name</key>
		<string>帽子</string>
		<key>photo</key>
		<string>帽子.jpg</string>
		<key>audio</key>
		<string>青花瓷</string>
		<key>brief</key>
		<string>一顶好看的帽子</string>
	</dict>
</dict>
</plist>
